*
    box-sizing: border-box
    font-family: 'Allerta Stencil', sans-serif
    margin: 0

.line
    border-bottom: 2px solid #fff
    width: 1879px
    margin: 0 auto
    margin-top: 5px
    &_about
        border-bottom: 2px solid #fff
    &_skills
        border-bottom: 2px solid #fff

.version
    position: absolute
    bottom: 10px
    font-size: 16px
    color: #FFFFFF

@import 'blocks/upper-info'
@import 'blocks/title'
@import 'blocks/main'
@import 'blocks/skills'
@import 'blocks/about'